	
[core]
    pager = delta
    editor = vi
    excludesfile = ~/.gitignore
    autocrlf = input

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[user]
	name = Fernanda Vilela
	email = fegvilela@gmail.com
[pull]
	rebase = true

[credential]
  helper = osxkeychain

